<p id="notice"><%= notice %></p>

<p>
  <b>Last name:</b>
  <%= @physician.last_name %>
</p>

<p>
  <b>Physician availability:</b>
  <%= @physician.physician_availability_id %>
</p>


<%= link_to 'Edit', edit_physician_path(@physician) %> |
<%= link_to 'Back', physicians_path %>
