<h1>Listing physician_availabilities</h1>

<table>
  <tr>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @physician_availabilities.each do |physician_availability| %>
  <tr>
    <td><%= physician_availability.status %></td>
    <td><%= link_to 'Show', physician_availability %></td>
    <td><%= link_to 'Edit', edit_physician_availability_path(physician_availability) %></td>
    <td><%= link_to 'Destroy', physician_availability, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Physician availability', new_physician_availability_path %>
